body {
  margin: 0;
} 
html {
  background-color: #ddd;
}
.normalText{
  font-weight: normal !important;
  padding-left: 20px;
}
.form-row{
  align-items: center;
  justify-content: center;
}

.btn-primary{
  background-color: #e4543b !important;
  border-color: #ed5338 !important;
}