.accountBlock{
    background-color: #fff;
    padding: 20px;
    .end{
        display: flex;
        justify-content: space-between;
        button{
            font-size: 14px; 
        }
    }
    ul{
        li{
            color: #ed5338;
            font-size: 20px;
            span{
                color: black;
            }
        }
    }
}